<?xml version="1.0"?>
<!--
Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License").
You may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<robot name="agent" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="chassis">
        <mu1 value="0.0"/>
        <mu2 value="0.0"/>
        <kp  value="1000000.0" />
        <kd  value="1.0" />
    </gazebo>
    
    <gazebo reference="left_rear_wheel">
        <mu1 value="0.5"/>
        <mu2 value="0.5"/>
        <kp  value="1000000.0" />
        <kd  value="1.0" />
        <fdir1 value="1 0 0"/>
    </gazebo>
    
    <gazebo reference="right_rear_wheel">
        <mu1 value="0.5"/>
        <mu2 value="0.5"/>
        <kp  value="1000000.0" />
        <kd  value="1.0" />
        <fdir1 value="1 0 0"/>
    </gazebo>
    
    <gazebo reference="left_front_wheel">
        <mu1 value="0.5"/>
        <mu2 value="0.5"/>
        <kp  value="1000000.0" />
        <kd  value="1.0" />
        <fdir1 value="1 0 0"/>
    </gazebo>
    
    <gazebo reference="right_front_wheel">
        <mu1 value="0.5"/>
        <mu2 value="0.5"/>
        <kp  value="1000000.0" />
        <kd  value="1.0" />
        <fdir1 value="1 0 0"/>
    </gazebo>

    <!-- add bit mask -->
    <!-- there is no collision for single and stereo camera, so no need to disable them -->
    <!-- apply bit mask for four wheels and shell -->
    <xacro:configure_collide_bitmask link_name="left_rear_wheel" bitmask="$(arg agent_bitmask)" />
    <xacro:configure_collide_bitmask link_name="right_rear_wheel" bitmask="$(arg agent_bitmask)" />
    <xacro:configure_collide_bitmask link_name="left_front_wheel" bitmask="$(arg agent_bitmask)" />
    <xacro:configure_collide_bitmask link_name="right_front_wheel" bitmask="$(arg agent_bitmask)" />
    <xacro:configure_collide_bitmask link_name="shell" bitmask="$(arg agent_bitmask)" />
    <!-- apply bit mask for lidar if using lidar sensor -->
    <xacro:if value="${'lidar' in sensor_type_val}">
        <xacro:configure_collide_bitmask link_name="laser" bitmask="$(arg agent_bitmask)" />
    </xacro:if>
</robot>
